:root {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
a {
  color: grey;
}
a:hover {
  color: red;
}
body {
  margin: 0;
  overflow: hidden;
}
canvas {
  display: fixed;
  inset: 0 0 0 0;
}
.input {
  position: fixed;
  inset: 0 0 0 0;
  padding: 1em;
  box-sizing: border-box;
  text-shadow: 0 0 .5em white;
}
.preview {
  max-width: 20vw;
  max-height: 20vh;
}
